/* Universal Styles */
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-size: 16px;
}

body {
  background-color: #ACCDC8;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* Structural Elements */
.container{
  margin: auto;
  max-width: 900px;
  padding-right: 1.4em ;
  padding-left: 1.4em;
}

.header-container{
  padding-top: 2em;
  padding-bottom: 2em;
}

.navbar ul{
  list-style-type: none;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0px;
  text-align: center;
}

.navbar ul li{
  display: inline;
  font-size: 1.1em;
}

.navbar ul li a{
  padding-right: 1.5em;
  padding-left: 1.5em;
  text-decoration: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
}

.navbar ul li a:hover{
  background-color: #FFF0D6;
  color: #8A6420;
}

.main-header {
  background-image: url('../img/header_placeholder.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
  width: 100%;
}

.headline, .navbar {
  background-color: rgba(20, 87, 77, 0.5);
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-header a {
  color: #FFE4B3;
}

.main-header h1 {
  font-family: 'Lato Thin', sans-serif;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
}

.main-header h1 a{
  font-size: 2em;
  text-decoration: none;
}

.main-footer {
  background-color: #14574D;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  font-size: 2em;
  margin-right: 1.6em;
}

.social-links li a{
  color: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
}

.social-links li a:hover{
  color: #bcbcbc;
}

@media only screen and (max-width: 910px) {
  body {
    padding: 0;
  }
}

@media only screen and (max-width: 450px) {
  .navbar ul li {
    display: block;
	font-size: 1.3em;
  }
  .navbar ul li a {
    display: block;;
  }
}
